@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Georgia, serif;
}

#page-wrap {
    margin: 2% auto;
    color: white;
}

#page-wrap>.main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
}

section>div {
    padding: 5px;
}

div#form {
    text-align: left;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

header,
nav,
section {
    background: #eee;
    text-align: center;
}

footer {
    background: #eee;
    text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
    width: 100%;
    display: inline-block;
}

#ErrorMsgs {
    color: #f61;
    font-size: smaller;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

div#taula {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

img.argazkia {
    max-height: 50px;
    max-width: 100px;
}

img.argazkiaLogin {
    max-height: 50px;
    max-width: 100px;
}

fieldset {
    padding: 10px;
    border: 3px solid #999;
}