@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Roboto, sans-serif;
}

body {
	margin: 0;
	background-color: #21ce77;
}


section>div {
	padding: 5px;
}

footer {
	background: #212529;
	text-align: center;
}

nav span {
	margin: 0px 0px 0px 0px;
	width: 100%;
	display: inline-block;
}

#ErrorMsgs {
	color: #f61;
	font-size: smaller;
}

table,
th,
td {
	border: 2px solid black;
	border-collapse: collapse;
}

th,
td {
	padding: 5px;
}

img.argazkia {
	max-height: 50px;
	max-width: 100px;
}

img.argazkiaLogin {
	max-height: 50px;
	max-width: 100px;
}

fieldset {
	padding: 10px;
	border: 3px solid #999;
}

section {
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

div#form {
	text-align: left;
	display: inline-block;
}


div#taula {
	display: inline-block;
}

div#feedback {
	display: inline-block;
	border: 3px solid #999;
}

div#galderaKop {
	display: inline-block;
	border: 3px solid #999;
}

div#erabiltzaileKop {
	display: inline-block;
	border: 3px solid #999;
}

.navbar {
	z-index: 1;
	background-color: #333;
	position: fixed;
	width: 100%;
	top: 0;
}

.navbar img {
	float: left;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

/*.navbar a {
	margin-top: 1%;
	margin-right: 1%;
	background-color: #7892c2;
	border-radius: 28px;
	border: 1px solid #4e6096;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 13px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
	float: right;
}

.navbar a:hover {
	background-color: #476e9e;
}

.navbar a:active {
	position: relative;
	top: 1px;
}*/

.sarrera {
	display: inline-block;
}

.main {
	position: relative;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 100px;
}

.home {
	display: inline-block;
	text-align: center;
}

.home-title {
	padding: 20px;
	display: inline-block;
}

.home-anuntzio {
	margin-top: 10px;
	padding: 20px;
	display: inline-block;
	background-color: #adc6ff;
	text-align: justify;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #fff inset,
		-1px -1px 2px #fff inset;
	border-radius: 3px/6px;
	width: 70%;

}

.home-anuntzio-detail {
	display: flex;
}

.home-anuntzio-detail-textu {
	padding-right: 50px;
	float: left;
	width: 70%;
}


.home-anuntzio-detail-textu-title {
	color: #6d98fc;
	text-decoration: none;
	font-size: 150%;
}

.home-anuntzio-detail-irudi {
	width: 30%;
	height: 300px;
  opacity: 1;
  transition: 0.3s;
	display: inline-block;
}
.home-anuntzio-detail-irudi:hover{
  opacity: 0.6;
}

.home-anuntzio-detail-irudi-txiki {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	float: right;
	height: 100%;
	width: 100%;
}

.prezioa {
	display: block;
	color: #ce1555;
	font-weight: bold;
	float: left;
	font-size: 30px;
	margin: 1% 8px 0 0;
	padding-top: 1px;
	line-height: 1;
}

.home-anuntzio-footer {
	display: flex;
}

.home-anuntzio-footer-kontaktua {
	margin-top: 10px;
	margin-right: 20px;
	background-color: #7892c2;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 9px 21px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}

.home-anuntzio-footer-kontaktua:hover {
	background-color: #476e9e;
}

.home-anuntzio-footer-kontaktua:active {
	position: relative;
	top: 1px;
}

.home-anuntzio-detail-textu-toki {
	margin-top: 0.5%;
}

.home-anuntzio-detail-deskripzio {
	display: inline-block;
	margin-top: 0.5%;
}

.home-anuntzio-detail-textu-tokiordu {
	width: 100%;
}

.home-anuntzio-detail-textu b {
	color: #04265e;
}

.home-anuntzio-detail-textu-denbora {
	float: right;
}

.home-anuntzio-detail-textu i {
	margin-top: 0.5%;
}

.shadow {
	width: 70%;
	height: 10%;
	display: inline-block;
}

.ad-big {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10px;
	padding: 2%;
	display: inline-block;
	background-color: #adc6ff;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #fff inset,
		-1px -1px 2px #fff inset;
	border-radius: 3px/6px;

}

.ad-big-header {
	display: inline-block;
	display: flex;
}

.avatar-small {
	float: left;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.ad-image {
	display: inline-block;
	margin-top: 2%;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
}

.ad-image img {
	width: 100%;
	max-width: 600px;
	max-height: 600px;
}

.home-anuntzio-detail-deskripzio {
	display: inline-block;
	text-align: justify;
}

.ad-big-header p {
	font-weight: bold;
	font-size: 150%;
	margin-left: 60px;
}

.ad-big-footer {
	text-align: left;
	padding-top: 2%;
}

.ad-big-footer-title {
	color: #242d8c;
	text-decoration: none;
	font-size: 200%;
	font-weight: bold;
}

.ad-big-footer-description {
	text-align: justify;
}

#argazki {
	max-height: 50px;
	max-width: 100px;
}

.ad-big-footer-price {
	color: #ce1555;
	font-weight: bold;
	font-size: 30px;
	display: inline-block;
}



*:focus {
	outline: none;
}

#login-box {
	position: relative;
	margin: 5% auto;
	width: 600px;
	height: 400px;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 1px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
    display:inline-block;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
	border-bottom: 2px solid #16a085;
	color: #16a085;
	transition: 0.2s ease;
}

input[type="submit"] {
	margin-top: 28px;
	width: 120px;
	height: 32px;
	background: #16a085;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	opacity: 0.8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

input[type="submit"]:active {
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}


input[type="reset"] {
	margin-top: 10px;
	width: 120px;
	height: 32px;
	background: red;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}

input[type="reset"]:hover,
input[type="reset"]:focus {
	opacity: 0.8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

input[type="reset"]:active {
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

figure.credits-image {
	display:inline-block
}

textarea{
  resize: none;
}